security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"
        App\Entity\User: "auto"

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: app_security
                check_path: app_security
                enable_csrf: true
                default_target_path: admin_dashboard
            
            logout:
                path: app_logout
                target: app_security

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/enseignant, roles: ROLE_ENSEIGNANT }
        - { path: ^/etudiant, roles: ROLE_ETUDIANT }
        - { path: ^/security, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
